
body {
    margin: 0px auto;
	background:transparent;
	font-family: Trebuchet, Arial, sans-serif;
}

.container {
	position: absolute;
	top: 100px;	
	width: 1800px;
	height: 120px;
}

.box {
	margin-left: 50px;
	margin-bottom: 30px;
	width: 220px;
	height: 80px;
	line-height: 80px;

	cursor: pointer;

	overflow: hidden;

	border-width: 0;
  	outline: none;
  	border-radius: 10px;
  	box-shadow: 0 2px 8px rgba(0, 0, 0, .6);

	background-color: #42A5F5;
	color: #ecf0f1;
	
	transition: background-color .3s;

	font-size: 30px;
	text-align: center;
	opacity: .85;
}

.focused {
	background-color: #0D47A1;
	transition: background-color .3s, transform .3s;
}
.selected {
	animation-name: keydown;
	animation-duration: .2s ;
	animation-timing-function: ease-in;
}
@keyframes keydown {
	0% {transform: scale(1);}
	55% {transform: scale(1.15);}
	100% {transform: scale(1);}
}
.play-box {
	position: absolute;
	margin-top: 40px;
	left: 50px;
	height: 150px;
	width: 150px;
	line-height: 150px;
	background-color: #9575CD;
	color: #fff;
	text-align: center;
	font-size: 25px;
	border-radius: 50%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
	cursor: pointer;

	transition: background-color .3s;
}
.play-box.focused {
	background-color: #4527A0;
	transition: background-color .3s, transform .3s;
}


.disabled {
	opacity: .3;
}

#result_container {
	position: absolute;
	top: 100px;	
	left: 400px;
}

#canvas {
	background-color: rgba(222, 222, 222, .2);
}
#text-log {
	background-color: rgba(222, 222, 222, .2);
	color: red;
	font-size: 25px;
	overflow: auto;
	height: 400px;
}