<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/AudioCaptureTestWidget" version="1.0.0" viewmodes="maximized">
    <tizen:application id="uoXopYmM1b.AudioCaptureTestWidget" package="uoXopYmM1b" required_version="3.0"/>
    <access origin="*" subdomains="true"></access>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/transparent.support" value="true"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <name>AudioCaptureTestWidget</name>
    <tizen:profile name="tv"/>
</widget>
